
.cars {

  border: 2px solid;
  overflow: scroll;
  padding: 0.5%;
  float: auto

}

.row {

    padding: 1%;
    display: inline-block;
    float: auto
}

.selected {
  border-width: 6px;
}

.hidden {
  display: none;

