
.cards {
  border: 2px solid;
  padding: 0.5%;
  float: auto


}
body {background-color: brown;

}
.row {

  padding: 1%;
  display: inline-block;
  float: auto
}

.selected {
  border-width: 6px;
}

.hidden {
  display: none;

/*.cars {
  border: 2px solid;
}

*/
