
.cards {
  border: 2px solid;
  padding: 0.5%;
  float: auto
  box-shadow: 10px 10px 5px 0 #eec2e2;
  padding: 10px;
  opacity:1;
  width: 250px;
  height: 300px;
  margin-left: 100px;
  border-radius: 40px;
  box-shadow: 12px 12px 7px #35cee4;
  background-color: white;
  font-size: .8em;
     }
nav{
  border-radius: 50px;
}


/*body {background-color: grey
  ;*/

/*}*/
.row {

padding: 1%;
display: inline-block;
float: auto
}

.blue {
  border-width: 10px;
  background-color: yellow
}

.hidden {
  display: none;
  }
html {
background: url(http://data.whicdn.com/images/12494008/large.png) repeat ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.img-wrapper {transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
-webkit-transform:scale(1.5); /* Safari and Chrome */
}
*/
